[submodule "llama.cpp"]
	path = llama.cpp
	url = git@github.com:judeharis/llama.cpp.git
	branch = v3_core_upgrade
[submodule "third_party/secda_core"]
	path = third_party/secda_core
	url = git@github.com:judeharis/SECDA-Core.git
	branch = main
